In [1]:
import pandas as pd

In [2]:
import numpy as np

In [9]:
data = {
    'student_id':[1,2,3,4,5,6,7],
    'Math_Score':[88, 92, 95, np.nan, 67, 105, 90],
    'English_Score': [78, 85, np.nan, 74, 70, 90, 88],
    'Attendance_Rate': [0.92, 0.85, 0.88, 0.76, np.nan, 0.95, 0.89]
}

In [10]:
df= pd.DataFrame(data)

In [18]:
df.head(7)

   student_id  Math_Score  English_Score  Attendance_Rate
0           1        88.0      78.000000            0.920
1           2        92.0      85.000000            0.850
2           3        95.0      80.833333            0.880
3           4        89.5      74.000000            0.760
4           5        67.0      70.000000            0.875
5           6       105.0      90.000000            0.950
6           7        90.0      88.000000            0.890

In [11]:
df.isnull().sum()

student_id         0
Math_Score         1
English_Score      1
Attendance_Rate    1
dtype: int64

In [12]:
df['Math_Score'].fillna(df['Math_Score'].mean(), inplace=True)

C:\Users\Bhakti\AppData\Local\Temp\ipykernel_27528\3101659982.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Math_Score'].fillna(df['Math_Score'].mean(), inplace=True)

In [13]:
df.fillna({'Math_Score': df['Math_Score'].mean()}, inplace=True)

In [14]:
df.fillna({'English_Score': df['English_Score'].mean()}, inplace=True)

In [15]:
df.fillna({'Attendance_Rate': df['Attendance_Rate'].mean()}, inplace=True)

In [16]:
df.head()

   student_id  Math_Score  English_Score  Attendance_Rate
0           1        88.0      78.000000            0.920
1           2        92.0      85.000000            0.850
2           3        95.0      80.833333            0.880
3           4        89.5      74.000000            0.760
4           5        67.0      70.000000            0.875

In [17]:
df.head(7)

   student_id  Math_Score  English_Score  Attendance_Rate
0           1        88.0      78.000000            0.920
1           2        92.0      85.000000            0.850
2           3        95.0      80.833333            0.880
3           4        89.5      74.000000            0.760
4           5        67.0      70.000000            0.875
5           6       105.0      90.000000            0.950
6           7        90.0      88.000000            0.890

In [19]:
from scipy.stats import zscore

In [20]:
zscore = np.abs(zscore(df[['Math_Score', 'English_Score']]))

In [21]:
outliers = (zscore>3)

In [22]:
print('outliers:', df[outliers.any(axis=1)])

outliers: Empty DataFrame
Columns: [student_id, Math_Score, English_Score, Attendance_Rate]
Index: []

In [24]:
Q1 = df['Math_Score'].quantile(0.25)
Q3 = df['Math_Score'].quantile(0.75)
IQR= Q3-Q1
l_b = Q1-1.5*IQR
u_b = Q3+1.5*IQR

In [25]:
df['Math_Score'] = np.where(df['Math_Score']> u_b, u_b, np.where(df['Math_Score']<l_b, l_b, df['Math_Score']))

In [26]:
print(df['Math_Score'].skew())

0.1397253239285244

In [28]:
df['Math_Score_Log'] = np.log(df['Math_Score']+1)

In [29]:
print("Skewness After Transformation:", df['Math_Score_Log'].skew())

Skewness After Transformation: -0.0518200404104629

In [30]:
print(df)

   student_id  Math_Score  English_Score  Attendance_Rate  Math_Score_Log
0           1      88.000      78.000000            0.920        4.488636
1           2      92.000      85.000000            0.850        4.532599
2           3      95.000      80.833333            0.880        4.564348
3           4      89.500      74.000000            0.760        4.505350
4           5      81.625      70.000000            0.875        4.414312
5           6     100.625      90.000000            0.950        4.621290
6           7      90.000      88.000000            0.890        4.510860